.footer{
    background-color: #839788;
    color: black;
    text-align: center;
    padding:10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    position: static;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 575.98px) {
    .footer{
        height: 310px;
        background-color: #839788;
    }
}

.bio{
    background-color: #839788;
    color: black;
    text-align: left;
    margin-left: 20px;
    flex-direction: column;
}

.title{
    background-color: #839788;
    color: black;
    text-align: left;
    font-size: 30px;
    font-family: monospace;
    font-weight: 700;
    align-items: center;
}

